body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 5px;
  overflow-x: hidden;
}

#main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 20px; /* margin-top/bottom are 0, left and right are 20px */
}

#siw-section {
  width: 60%;
}

#state-data-section {
  width: 40%;
  height: 100vh;
  padding: 10px;
  align-self: flex-start;
}

.transaction-group,
.authState-group,
.config-group {
  max-height: 30vh;
  max-width: 95%;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow-wrap: break-word;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.form-section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 570px;
  margin: 10px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

input[type='email'],
input[type='password'],
input[type='text'],
select {
  width: 100%;
  max-width: 550px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus {
  border-color: #4caf50;
  outline: none;
}

button,
.verify-button {
  width: 40%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: none;
}

button {
  margin-top: 10px;
}

.btn.primary,
.verify-button {
  background-color: #4caf50;
  color: white;
}

.btn.primary:hover,
.verify-button:hover {
  background-color: #45a049;
}

.verify-button {
  font-size: 14px;
  width: 15%;
}

.auth-section {
  width: 100%;
  margin: 15px;
}

.auth-info {
  margin: 15px 0;
}

.info-title {
  font-weight: bold;
  margin: 5px 0;
}

#userInfo,
#accessToken {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: monospace;
  word-wrap: break-word;
  max-width: 70%;
}

.factor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

#register-user-section,
#forgot-password-section,
#unlock-account-user-section {
  margin-top: 15px;
}

#show-register-user,
#show-forgot-password,
#show-unlock-account {
  color: #4caf50;
  text-decoration: none;
  font-size: 0.875rem;
}

#show-register-user:hover,
#show-forgot-password:hover,
#show-unlock-account:hover {
  text-decoration: underline;
  cursor: pointer;
}

#logout,
#renew {
  color: white;
  width: 15%;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.form-button-section,
.auth-btn-section {
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}